<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration
	PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-2.0.dtd">
<hibernate-configuration>
	<session-factory>
	
	<property name="show_sql">false</property>
		<mapping resource="org/folio/cataloging/dao/persistence/BibliographicModel.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/DB_LIST.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/INDEX_MAIN_LIST.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/INDEX_SUB_LIST.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/IDX_LIST.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_AUT_SBJCT_ENTRY.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_AUT_SUB_DIV_TYP.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_INPT_SRC.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_DSC_CNVTN.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_ITM_ENCDG_LVL.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_ITM_DTE_TYP.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_ITM_REC_STUS.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_ITM_RPLMT_STUS.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_ITM_CNTL_TYP.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_ITM_TRLTN.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_NME_WRK_RLTR.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_NME_FNCTN.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_SBJCT_FNCTN.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_TTL_FNCTN.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_TTL_SCDRY_FNCTN.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_BIB_NTE_TYP.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_SHLF_LIST_TYP.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_CLSTN_TYP.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_CLSTN_FNCTN.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_CNTL_NBR_TYP.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_CLCTN.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_CNTL_NBR_VLDTN.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_CNTL_NBR_FNCTN.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_RLTSP_TYP.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_RLTSP_PRNT_NTE.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_GLB_CLR.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_GLB_PHSCL_MDM.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_GLB_RPDTN_TYP.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_GLB_SMD.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_MAP_CLR.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_MAP_PRDTN_DTL.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_MAP_PHSCL_MDM.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_MAP_PLRTY.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_MAP_RPRDT_TYP.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_MAP_SMD.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_BOOK_BGPHY.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_BOOK_FTSCT.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_BOOK_ILSTN.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_BOOK_IDX_AVBTY.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_BOOK_LTRY_FORM_TYP.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_TRGT_AUDNC.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_CRTGC_FRMT.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_CRTGC_IDX_AVBTY.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_CRTGC_MRDN.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_CRTGC_NRTV_TXT.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_CRTGC_RLF.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_CRTGC_PRJTN.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_CMPTR_TRGT_AUDNC.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_CMPTR_FIL_TYP.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_MSC_FRMT.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_MSC_FORM_OR_TYP.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_MSC_LTRY_TXT.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_MSC_TXTL_MTR.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_MSC_PRT.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_SRL_FORM_ORGNL_ITM.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_SRL_ISDS_CNTR.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_SRL_TTL_ALPBT.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_SRL_TYP.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_SRL_SCSV_LTST.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_SRL_FREQ.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_SRL_REGTY.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_VSL_ACMPN_MTRL.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_VSL_MTRL_TYP.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_VSL_TECH.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_MIC_CLR.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_MIC_DMNSN.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_MIC_FLM_BSE.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_MIC_FLM_EMLSN.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_MIC_GNRTN.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_MIC_PLRTY.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_MIC_RDCTN_RATIO_RNG.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_MIC_SMD.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_MP_SMD.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_MP_CLR.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_MP_PRSTN_FRMT.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_SND_MDM_OR_SEPRT.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_MDM_FOR_SND.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_MP_DMNSN.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_NPG_SMD.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_NPG_CLR.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_NPG_PRMRY_SPRT_MTRL.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_NPG_SCDRY_SPRT_MTRL.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_PG_SMD.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_PG_CLR.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_PG_BSE_OF_EMLSN_MTRL.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_PG_DMNSN.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_PG_SCDRY_SPRT_MTRL.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_SND_DMNSN.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_SND_DISC_CTG.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_SND_DISC_CYLND_TYP.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_SND_DISC_GRV_WDTH.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_SND_MTRL_TYP.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_SND_PLYBC_CHNL_CFGTN.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_SND_SPCL_PLYBC_CHAR.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_SND_SMD.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_SND_SPD.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_SND_STRG_TECH.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_SND_TAPE_CFGTN.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_SND_TAPE_WDTH.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_VR_SMD.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_VR_CLR.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_VR_FRMT.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_VR_DMNSN.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_VR_PLYBC_CHNL_CFGTN.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_HLDG_1ST_IND.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_HLDG_2ND_IND.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_ILL.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_HLDG_LVL_OF_DTL.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_LOAN_PRD.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_HLDG_RTNTN.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_HLDG_STUS.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_HLDG_SBCPT_STUS.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_HLDG_SRS_TRMT.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_HLDG_STUS_TYP.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_LANG.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_MARC_CNTRY.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_FORM_OF_ITM.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_GOVT_PBLTN.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_CONF_PBLTN.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_YESNO.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_ITM_BIB_LVL.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_NTR_OF_CNTNT.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_ITM_REC_TYP.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_REC_MDFTN.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_AUT_BLNGL_USG.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_AUT_CLSTN_FNCTN.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_AUT_CONF_MTG.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_AUT_CTLGG_RLE.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_AUT_ENCDG_LVL.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_AUT_GOVT_AGNCY.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_AUT_HDG_STUS.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_AUT_MAIN_ADD_ENTRY.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_AUT_NON_UNQ_NME.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_AUT_REC_STUS.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_AUT_RMNZT_SCHM.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_AUT_REC_RVSN.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_AUT_REC_TYP.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_AUT_SBJCT_DSCTR.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_AUT_SRS_ENTRY.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_AUT_SRS_NBRG.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_AUT_SBJCT_SYS.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_AUT_SRS_TYP.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_VSL_TRGT_AUDNC.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_LANG_OF_ACS_PNT.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_LANG_OF_IDXG.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_PBLTN_PRMTN_CAT.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_PBLTN_STG.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_PBLTN_AVBTY.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_REC_CTLGG_SRC.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_ITM_DSCTV_CTLG.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_GEOG_AREA.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_VRFTN_LVL.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_NME_HDG_SUB_TYP.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_NME_HDG_TYP.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_SBJCT_HDG_SRC.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_SBJCT_HDG_TYP.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_SBJCT_HDG_SCDRY_SRC.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_FRBR.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_CAS_MNGRL_LVL_TYP.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_CAS_LEVEL_TYP.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_CAS_DIG_LEVEL_TYP.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_CLCTN_TYP.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_STS_CLCTN_TYP.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_STS_AVBLE.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_CLCTN_PUBL_LVL_TYP.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_CLCTN_CST_TYP.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_CLCTN_MST_TYP.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_CLCTN_PUBL_TYP.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_ORDR_AQSTN_TYP.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_AUT_HDG_SRC.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_CURCY_TYP.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_MTRL_TYP.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_ITM_DSPLY.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_SRL_GENRETENTION.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_BIB_TAG_CAT.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/S_BIB_MARC_IND_DB_CRLTN.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_NME_TTL_FNCTN.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_ITM_LNK_REC.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_ITM_CCS.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_BIB_NTE_GRP_TYP.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/S_BIB_MARC_TAG_VLDTN.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_BIB_HDR.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/TYP_REC_MTRL.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_GMD.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_MSC_TRNSPSN_ARRNGMNT.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_CF_FORM_OF_ITM.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_CF_SMD.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_CF_CLR.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_CF_DMNSN.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_CF_FF.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_CF_QAT.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_CF_ANTSRC.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_CF_LOC.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_CF_RQ.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_MP_CONFIG.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_MP_PROD_ELEM.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_MP_POS_NEG.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_MP_GNRTN.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_MP_BSE_FLM.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_MP_RF_CLR.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_MP_CLR_STCK.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_MP_DTRTN_STGE.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_MP_CMPLT.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_KIT_SMD.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_NM_SMD.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_TXT_SMD.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_USP_SMD_CDE.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_RSI_SMD.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_RSI_ALT_SENS.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_RSI_ATT_SENS.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_RSI_CLD_CVR.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_RSI_PLTFRM_CNSTRCT.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_RSI_PLTFRM_USE.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_RSI_SNSR_TPE.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/T_RSI_DATA_TPE.hbm.xml"/>
        <mapping resource="org/folio/cataloging/dao/persistence/FULL_CACHE.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/Diacritics.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/Tags.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/MTRL_DSC.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/CF.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/GLB.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/KIT.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/MAP.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/MIC.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/MP.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/NM.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/NPG.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/PG.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/RSI.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/SND.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/TM.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/TXT.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/USP.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/VR.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/MSCL_INSTM_OR_VOICE.hbm.xml"/>
        <mapping resource="org/folio/cataloging/dao/persistence/RLTSP.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/BIB_NTE_OVRFW.hbm.xml"/>
        <mapping resource="org/folio/cataloging/dao/persistence/STD_NTE_ACS_PNT.hbm.xml"/>
		<mapping resource="org/folio/cataloging/dao/persistence/S_NXT_NBR.hbm.xml"/>
        <!--mapping resource="org/folio/cataloging/dao/persistence/CLSTN.hbm.xml"/>
        <mapping resource="org/folio/cataloging/dao/persistence/SBJCT_HDG.hbm.xml"/>
        <mapping resource="org/folio/cataloging/dao/persistence/TTL_HDG.hbm.xml"/>
        <mapping resource="org/folio/cataloging/dao/persistence/NME_HDG.hbm.xml"/>
        <mapping resource="org/folio/cataloging/dao/persistence/PUBL_TAG.hbm.xml"/>
        <mapping resource="org/folio/cataloging/dao/persistence/PUBL_HDG.hbm.xml"/-->

	</session-factory>
</hibernate-configuration>
