<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration
	PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-2.0.dtd">
<hibernate-configuration>
	<session-factory>
	
	<property name="show_sql">false</property>
		<mapping resource="librisuite/hibernate/T_ITM_DSPLY.hbm.xml"/>
		<mapping resource="librisuite/hibernate/USR_ACNT.hbm.xml"/>
		<mapping resource="librisuite/hibernate/DB_LIST.hbm.xml"/>
	</session-factory>
</hibernate-configuration>
