<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration
	PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-2.0.dtd">
<hibernate-configuration>
	<session-factory>
	
	<property name="show_sql">false</property>
		<mapping resource="mapping/casalini/librisuite/hibernate/ACNT_APLTN_LIST_ACS_PNT.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/AUT.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/AUT_CLSTN_ACS_PNT.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/AUT_CNTL_NBR_ACS_PNT.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/AUT_NTE.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/AUT_SHLF_LIST_ACS_PNT.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/AUTHORITY_MODEL.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/AUTHORITY_MODEL_ITEM.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/BIB_NTE_OVRFW.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/BRWR.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/BRWR_CMCTN.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/BRWR_FINE.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/BRWR_FINE_PAYMT.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/BRWR_NTE.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/BRWR_PSTL_ADR.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/BibliographicModel.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/BibliographicModelItem.hbm.xml"/>		
		<mapping resource="mapping/casalini/librisuite/hibernate/CF.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/CIRTN_HLD.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/CIR_INVTRY_LGL.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/CIR_INVTRY_LGL_SRCH.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/CIR_INVTRY_SRCH.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/CIR_INVTRY_PHSCL.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/CIRT_ITM.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/CLCTN_ACS_PNT.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/CLSTN.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/CNTL_NBR.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/CPY_HLD.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/CPY_HLD_DTL.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/CPY_ID.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/GLB.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/HLDG_NTE.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/HLD_RCALL_QUEUE.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/HLD_ARCH.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/IDX_LIST.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/INDEX_MAIN_LIST.hbm.xml"/>
   		<mapping resource="mapping/casalini/librisuite/hibernate/INDEX_SUB_LIST.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/INVTRY.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/KIT.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/LCTN.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/LCTN_ISOLANG_VW.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/LCTN_VW.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/LDG_STATS.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/LIB.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/LIB_DTE_CLSE.hbm.xml"/> 
		<mapping resource="mapping/casalini/librisuite/hibernate/LIB_HRS_OPRTN.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/LIB_LOAN_PLCY.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/LIB_FINE_PLCY.hbm.xml"/> 
		<mapping resource="mapping/casalini/librisuite/hibernate/LIB_HOLD_PLCY.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/LIB_OVRD_PLCY.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/LIB_TME_HLD_PLCY.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/LOADING_MARC_FILE.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/LOADING_MARC_RECORDS.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/LOAN.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/LOAN_ARCH.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/LOAN_DTL.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/LOAN_IN_TRNST_PLCY.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/LOAN_INTER_BRNCH.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/LOAN_INTER_LIB.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/LV_DATABASE.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/LV_GROUP.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/LV_USER.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/LV_USER_COMMUNICATION.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/LV_USER_DATABASE.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/LV_USER_GROUP.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/LV_USER_POSTAL_ADDRESS.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/MAP.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/MIC.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/MP.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/MSCL_INSTM_OR_VOICE.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/MTRL_DSC.hbm.xml"/> 
		<mapping resource="mapping/casalini/librisuite/hibernate/NM.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/NME_HDG.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/NME_NME_TTL_REF.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/NME_REF.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/NME_TTL_HDG.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/NME_TTL_REF.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/NPG.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/ORDR.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/ORDR_ITM.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/ORDR_ITM_BIB_ITM.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/ORG.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/ORG_HRCHY.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/ORG_NME.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/PG.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/PRSN.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/PUBL_HDG.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/PUBL_REF.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/RECEIVE_ITM.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/RECEIVE_ITM_CPY.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/RLTSP.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/RSI.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/SBJCT_HDG.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/SBJCT_REF.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/SHLF_LIST.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/SHLF_LIST_ACS_PNT.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/SMRY_HLDG.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/SND.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/SRL_LGCL_CPY_ID.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/SRL_PRT.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/S_AUT_MARC_IND_DB_CRLTN.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/S_AUT_MARC_TAG_VLDTN.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/S_BIB_MARC_IND_DB_CRLTN.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/S_BIB_MARC_TAG_VLDTN.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/S_CACHE_BIB_ITM_DSPLY.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/S_INVTRY.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/S_LOAN_STATS.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/S_MSG.hbm.xml"/> 
		<mapping resource="mapping/casalini/librisuite/hibernate/S_MSG_CIRC.hbm.xml"/> 
		<mapping resource="mapping/casalini/librisuite/hibernate/S_NXT_NBR.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/S_ORDR_NAMES.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/S_OVRD_NTC.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/S_RLTSP_RCPCL.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/S_SRT_CRTRIA_DTL.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/S_SYS_GLBL_VRBL.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/TM.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/TTL_HDG.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/TTL_HLD.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/TTL_HLD_DTL.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/TTL_NME_TTL_REF.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/TTL_REF.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/TXT.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/TYP_REC_MTRL.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_ACQ_MTHD_TYP.hbm.xml"/> 
		<mapping resource="mapping/casalini/librisuite/hibernate/T_ADR_PROV_TRTRY_STATE.hbm.xml"/>
   		<mapping resource="mapping/casalini/librisuite/hibernate/T_AUT_BLNGL_USG.hbm.xml"/>
   		<mapping resource="mapping/casalini/librisuite/hibernate/T_AUT_CLSTN_FNCTN.hbm.xml"/>
   		<mapping resource="mapping/casalini/librisuite/hibernate/T_AUT_CLSTN_TYP.hbm.xml"/>
   		<mapping resource="mapping/casalini/librisuite/hibernate/T_AUT_CNTL_NBR_TYP.hbm.xml"/>
   		<mapping resource="mapping/casalini/librisuite/hibernate/T_AUT_CONF_MTG.hbm.xml"/>
   		<mapping resource="mapping/casalini/librisuite/hibernate/T_AUT_CTLGG_RLE.hbm.xml"/>
   		<mapping resource="mapping/casalini/librisuite/hibernate/T_AUT_CTLGG_SRC.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_AUT_DSPLY_FRMT.hbm.xml"/>
   		<mapping resource="mapping/casalini/librisuite/hibernate/T_AUT_ENCDG_LVL.hbm.xml"/>
   		<mapping resource="mapping/casalini/librisuite/hibernate/T_AUT_GOVT_AGNCY.hbm.xml"/>
   		<mapping resource="mapping/casalini/librisuite/hibernate/T_AUT_HDG_STUS.hbm.xml"/>
   		<mapping resource="mapping/casalini/librisuite/hibernate/T_AUT_HDR.hbm.xml"/>
   		<mapping resource="mapping/casalini/librisuite/hibernate/T_AUT_MAIN_ADD_ENTRY.hbm.xml"/>
   		<mapping resource="mapping/casalini/librisuite/hibernate/T_AUT_NON_UNQ_NME.hbm.xml"/>
   		<mapping resource="mapping/casalini/librisuite/hibernate/T_AUT_NTE_TYP.hbm.xml"/>
   		<mapping resource="mapping/casalini/librisuite/hibernate/T_AUT_REC_MDFTN.hbm.xml"/>
   		<mapping resource="mapping/casalini/librisuite/hibernate/T_AUT_REC_RVSN.hbm.xml"/>
   		<mapping resource="mapping/casalini/librisuite/hibernate/T_AUT_REC_STUS.hbm.xml"/>
   		<mapping resource="mapping/casalini/librisuite/hibernate/T_AUT_REC_TYP.hbm.xml"/>
   		<mapping resource="mapping/casalini/librisuite/hibernate/T_AUT_REF_HDG_TYP.hbm.xml"/>
   		<mapping resource="mapping/casalini/librisuite/hibernate/T_AUT_REF_STUS.hbm.xml"/>
   		<mapping resource="mapping/casalini/librisuite/hibernate/T_AUT_RMNZT_SCHM.hbm.xml"/>
   		<mapping resource="mapping/casalini/librisuite/hibernate/T_AUT_SBJCT_DSCTR.hbm.xml"/>
   		<mapping resource="mapping/casalini/librisuite/hibernate/T_AUT_SBJCT_ENTRY.hbm.xml"/>
   		<mapping resource="mapping/casalini/librisuite/hibernate/T_AUT_SBJCT_HDG_TYP.hbm.xml"/>
   		<mapping resource="mapping/casalini/librisuite/hibernate/T_AUT_SBJCT_SYS.hbm.xml"/>
   		<mapping resource="mapping/casalini/librisuite/hibernate/T_AUT_SHLF_LIST_FNCTN.hbm.xml"/>
   		<mapping resource="mapping/casalini/librisuite/hibernate/T_AUT_SHLF_LIST_TYP.hbm.xml"/>
   		<mapping resource="mapping/casalini/librisuite/hibernate/T_AUT_SRS_ENTRY.hbm.xml"/>
   		<mapping resource="mapping/casalini/librisuite/hibernate/T_AUT_SRS_NBRG.hbm.xml"/>
   		<mapping resource="mapping/casalini/librisuite/hibernate/T_AUT_SRS_TYP.hbm.xml"/>
   		<mapping resource="mapping/casalini/librisuite/hibernate/T_AUT_SUB_DIV_TYP.hbm.xml"/>		
   		<mapping resource="mapping/casalini/librisuite/hibernate/T_AUT_TAG_CAT.hbm.xml"/>		
		<mapping resource="mapping/casalini/librisuite/hibernate/T_BIB_DSPLY_FRMT.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_BIB_HDR.hbm.xml"/> 
		<mapping resource="mapping/casalini/librisuite/hibernate/T_BIB_NTE_TYP.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_BIB_NTE_GRP_TYP.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_BIB_TAG_CAT.hbm.xml"/>
       	<mapping resource="mapping/casalini/librisuite/hibernate/T_BOOK_BGPHY.hbm.xml"/>
       	<mapping resource="mapping/casalini/librisuite/hibernate/T_BOOK_FTSCT.hbm.xml"/>
       	<mapping resource="mapping/casalini/librisuite/hibernate/T_BOOK_IDX_AVBTY.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_BOOK_ILSTN.hbm.xml"/>
       	<mapping resource="mapping/casalini/librisuite/hibernate/T_BOOK_LTRY_FORM_TYP.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_BOOK_TYP_CDE.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_BRWR_TYP.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_CDE_TBL_AM_FXD.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_CF_ANTSRC.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_CF_CLR.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_CF_DMNSN.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_CF_FF.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_CF_LOC.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_CF_QAT.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_CF_RQ.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_CF_SMD.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_CLCTN.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_CLSTN_FNCTN.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_CLSTN_TYP.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_CMPTR_FIL_TYP.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_CMPTR_TRGT_AUDNC.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_CNTCT_CMCTN_MDM_TYP.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_CNTL_NBR_FNCTN.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_CNTL_NBR_TYP.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_CNTL_NBR_VLDTN.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_CONF_PBLTN.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_CRTGC_FRMT.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_CRTGC_IDX_AVBTY.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_CRTGC_MRDN.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_CRTGC_MTRL.hbm.xml"/>
   		<mapping resource="mapping/casalini/librisuite/hibernate/T_CRTGC_NRTV_TXT.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_CRTGC_PRJTN.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_CRTGC_RLF.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_CRTGC_TYP_CDE.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_CURCY_TYP.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_DSC_CNVTN.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_DUAL_REF.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_FORM_OF_ITM.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_GEOG_AREA.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_GLB_CLR.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_GLB_PHSCL_MDM.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_GLB_RPDTN_TYP.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_GLB_SMD.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_GOVT_PBLTN.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_HLDG_1ST_IND.hbm.xml"/>
   		<mapping resource="mapping/casalini/librisuite/hibernate/T_HLDG_2ND_IND.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_HLDG_LVL_OF_DTL.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/T_HLDG_NTE_ISOLANG_VW.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/T_HLDG_NTE_VW.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/T_HLDG_RTNTN.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/T_HLDG_SBCPT_STUS.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/T_HLDG_SRS_TRMT.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/T_HLDG_STUS.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_HLDG_STUS_TYP.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/T_HLD_RCALL_QUEUE_TYP.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_ILL.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_ILL_SERV.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_INPT_SRC.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_ITM_BIB_LVL.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_ITM_CCS.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_ITM_CNTL_TYP.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_ITM_DSCTV_CTLG.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_ITM_DSPLY.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_ITM_DTE_TYP.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_ITM_ENCDG_LVL.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_ITM_LNK_REC.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_ITM_REC_STUS.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_ITM_REC_TYP.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_ITM_RPLMT_STUS.hbm.xml"/>
   		<mapping resource="mapping/casalini/librisuite/hibernate/T_ITM_TRLTN.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_KIT_SMD.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_LANG.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_LANG_OF_ACS_PNT.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_LANG_OF_ACS_PNT_SBJCT.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_LANG_OF_IDXG.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_LANG_OF_IDXG_LANG.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_LANG_PRFNC.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/T_LIB_LOAN_TYP.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/T_LOAN_ACTVTY.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/T_LOAN_PRD.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/T_LOAN_STATS_TYP.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/T_MAP_CLR.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/T_MAP_PHSCL_MDM.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/T_MAP_PLRTY.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/T_MAP_PRDTN_DTL.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/T_MAP_RPRDT_TYP.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/T_MAP_SMD.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/T_MARC_CHARSET.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_MARC_CNTRY.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_MARC_REF_TYP.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/T_MARC_TAG_CAT.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/T_MDM_FOR_SND.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/T_MIC_CLR.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/T_MIC_DMNSN.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/T_MIC_FLM_BSE.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/T_MIC_FLM_EMLSN.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/T_MIC_GNRTN.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/T_MIC_PLRTY.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/T_MIC_RDCTN_RATIO_RNG.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/T_MIC_SMD.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/T_MP_BSE_FLM.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/T_MP_CLR.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/T_MP_CLR_STCK.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/T_MP_CMPLT.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/T_MP_CONFIG.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/T_MP_DMNSN.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/T_MP_DTRTN_STGE.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/T_MP_GNRTN.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/T_MP_POS_NEG.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/T_MP_PROD_ELEM.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/T_MP_PRSTN_FRMT.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/T_MP_RF_CLR.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/T_MP_SMD.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/T_MSC_FORM_OR_TYP.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_MSC_FRMT.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_MSC_LTRY_TXT.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_MSC_TXTL_MTR.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_MSC_TYP_CDE.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_MTRL_TYP.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/T_NME_FNCTN.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/T_NME_HDG_SUB_TYP.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/T_NME_HDG_TYP.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_NME_TTL_FNCTN.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_NME_TTL_SCDRY_FNCTN.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_NME_WRK_RLTR.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_NM_SMD.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/T_NPG_CLR.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/T_NPG_PRMRY_SPRT_MTRL.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/T_NPG_SCDRY_SPRT_MTRL.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/T_NPG_SMD.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/T_NTR_OF_CNTNT.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_OPERATORS.hbm.xml"/>
        <mapping resource="mapping/casalini/librisuite/hibernate/T_ORDR_AQSTN_TYP.hbm.xml"/>
        <mapping resource="mapping/casalini/librisuite/hibernate/T_PBLTN_AVBTY.hbm.xml"/>
        <mapping resource="mapping/casalini/librisuite/hibernate/T_PBLTN_PRMTN_CAT.hbm.xml"/>
   		<mapping resource="mapping/casalini/librisuite/hibernate/T_PBLTN_STG.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_PG_BSE_OF_EMLSN_MTRL.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_PG_CLR.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_PG_DMNSN.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_PG_MDM_FOR_SND.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_PG_SCDRY_SPRT_MTRL.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_PG_SMD.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_PRSN_CMCTN_MDM_TYP.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_PRSN_CIRTN_TYP.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_PRSN_LCL_1ST_TYP_1.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_PRSN_LCL_2ND_TYP_1.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_PRSN_LCL_3RD_TYP_1.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_PRSN_LCL_4TH_TYP_1.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_PRSN_TTL.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_PSTL_ADR_CNTRY.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_PSTL_ADR_DEPT_NME.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_PSTL_ADR_DLVRY_DSGTR.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_PSTL_ADR_GEOG.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_PSTL_ADR_INTLN_TYP.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_PSTL_ADR_MDE.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_PSTL_ADR_RGN.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_PSTL_ADR_ST_DRCTN.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_PSTL_ADR_ST_TYP.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_PSTL_ADR_UNT_DSGTR.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_PUBL_FNCTN.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_OVRD_NTFCT_TYP.hbm.xml"/>
   		<mapping resource="mapping/casalini/librisuite/hibernate/T_RCPCL.hbm.xml"/>
   		<mapping resource="mapping/casalini/librisuite/hibernate/T_REC_CTLGG_SRC.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_REC_MDFTN.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_REF_AUT_STRCT.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_REF_EARLR_CTLG_RLE.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_REF_GNRTN.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_REF_PRNT_CNSTN.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_REF_TYP.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_REP_MAIL.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_RLTSP_PRNT_NTE.hbm.xml"/>
   		<mapping resource="mapping/casalini/librisuite/hibernate/T_RLTSP_TYP.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_RSI_ALT_SENS.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_RSI_ATT_SENS.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_RSI_CLD_CVR.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_RSI_DATA_TPE.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_RSI_PLTFRM_CNSTRCT.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_RSI_PLTFRM_USE.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_RSI_SMD.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_RSI_SNSR_TPE.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_SBJCT_FNCTN.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_SBJCT_HDG_SCDRY_SRC.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_SBJCT_HDG_SRC.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_SBJCT_HDG_TYP.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_SHLF_LIST_TYP.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_SKP_IN_FLNG_CNT.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_SND_DISC_CTG.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_SND_DISC_CYLND_TYP.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_SND_DISC_GRV_WDTH.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_SND_DMNSN.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_SND_MDM_OR_SEPRT.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_SND_MTRL_TYP.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_SND_PLYBC_CHNL_CFGTN.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_SND_SMD.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_SND_SPCL_PLYBC_CHAR.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_SND_SPD.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_SND_STRG_TECH.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_SND_TAPE_CFGTN.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_SND_TAPE_WDTH.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_SRCH_KYWRD_IDX.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_SRL_ISDS_CNTR.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_SRL_FORM_ORGNL_ITM.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_SRL_FREQ.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_SRL_GENRETENTION.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_SRL_REGTY.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_SRL_SCSV_LTST.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_SRL_TTL_ALPBT.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_SRL_TYP.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_SRT_CRTRIA.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_TM_BMF.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_TM_CBW.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_TM_LC.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_TM_SMD.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_TM_SPC.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_TRGT_AUDNC.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_TRLTN.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_TRLTN_LANG_CDE.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_TTL_FNCTN.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/T_TTL_SCDRY_FNCTN.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/T_TXT_SMD.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_TYP_OF_DTE_TME.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_USP_SMD_CDE.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_VRFTN_LVL.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_VR_CLR.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_VR_DMNSN.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_VR_FRMT.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_VR_PLYBC_CHNL_CFGTN.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_VR_SMD.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_VSL_ACMPN_MTRL.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_VSL_MTRL_TYP.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_VSL_TECH.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_VSL_TRGT_AUDNC.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_VSL_TYP_CDE.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_YESNO.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/Tags.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/USP.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/USR_ACNT.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/USR_CATL_TAG_CAT_AUTH.hbm.xml"/>
   		<mapping resource="mapping/casalini/librisuite/hibernate/VNDR.hbm.xml"/>
   		<mapping resource="mapping/casalini/librisuite/hibernate/VR.hbm.xml"/>	
   		<mapping resource="mapping/casalini/librisuite/hibernate/SReport.hbm.xml"/>	
   		<!-- BEGIN MADES CONFIGURATIONS (LIBRISUITE ONLY)-->	
		<mapping resource="mapping/casalini/librisuite/hibernate/MAD_CLSTN_ITM_ACS_PNT.hbm.xml"/>	
		<mapping resource="mapping/casalini/librisuite/hibernate/MAD_CNTL_NBR_ACS_PNT.hbm.xml"/>	
		<mapping resource="mapping/casalini/librisuite/hibernate/MAD_NME_ACS_PNT.hbm.xml"/>	
		<mapping resource="mapping/casalini/librisuite/hibernate/MAD_NME_TTL_ACS_PNT.hbm.xml"/>	
		<mapping resource="mapping/casalini/librisuite/hibernate/MAD_SBJCT_ACS_PNT.hbm.xml"/>	
		<mapping resource="mapping/casalini/librisuite/hibernate/MAD_SHLF_LIST_ACS_PNT.hbm.xml"/>	
		<mapping resource="mapping/casalini/librisuite/hibernate/MAD_TTL_ACS_PNT.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/TAG_MODEL.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/TAG_GRP_MODEL.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_MARC_HLPR_LBL.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_CAS_SDIV_TMPL_TYP.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_CAS_SDIV_PRTC_TYP.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_CAS_SDIV_GEOG_TYP.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_CAS_STND_NTE_TYP.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_CAS_STND_NTE_SUB_TYP.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_CAS_MNGRL_LVL_TYP.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/S_CAS_CACHE.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/STD_NTE_ACS_PNT.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_STD_NTE_TYP.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_CAS_LEVEL_TYP.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_CAS_DIG_LEVEL_TYP.hbm.xml"/>	
		<mapping resource="mapping/casalini/librisuite/hibernate/T_CAS_SAL_TYP.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_DFLT_TRSLTN_NTE.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_TRSLTN_NTE_TYP.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_CAS_ITEM_SAL_TYP.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_CAS_CURCY_TYP.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_CAS_MDR_FGL.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_ONLN_PLCY_TYP.hbm.xml"/>
		
		<!--<mapping resource="mapping/casalini/librisuite/hibernate/CAS_FONTI.hbm.xml"/> -->
		<!-- <mapping resource="mapping/casalini/librisuite/hibernate/CAS_FILTRI_MIGRAZIONE.hbm.xml"/> -->
		<mapping resource="mapping/casalini/librisuite/hibernate/T_CAS_FONTI.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_CAS_FLTR.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/CAS_FLTR_IMP_SPOT.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/CAS_FLTR_IMP.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/CAS_ESITO_IMPORT.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_CAS_ACTV_SPOT.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_CAS_DIG_TYP.hbm.xml"/>
		
		<mapping resource="mapping/casalini/com/casalini/hibernate/model/SCasSapCache.hbm.xml"/>
		<mapping resource="mapping/casalini/com/casalini/hibernate/model/CasDataExp.hbm.xml"/>
		<mapping resource="mapping/casalini/com/casalini/hibernate/model/CasDgaPolicy.hbm.xml"/>
		<mapping resource="mapping/casalini/com/casalini/hibernate/model/CasDataXfer.hbm.xml"/>
		<mapping resource="mapping/casalini/com/casalini/hibernate/model/CasDataDelete.hbm.xml"/>
		<mapping resource="mapping/casalini/com/casalini/hibernate/model/CasDataNTI.hbm.xml"/>
		<mapping resource="mapping/casalini/com/casalini/hibernate/model/CasTransferProd.hbm.xml"/>
		<mapping resource="mapping/casalini/com/casalini/hibernate/model/CasTransfRec.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/USR_TMP_DTA.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/USR_TMP_PASS.hbm.xml"/>
		<mapping resource="mapping/casalini/com/casalini/hibernate/model/CasQltyStus.hbm.xml"/>
		<mapping resource="mapping/casalini/com/casalini/hibernate/model/CasQltyRec.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/Diacritici.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/S_LCK_TBL.hbm.xml"/>
		<mapping resource="mapping/casalini/com/casalini/hibernate/model/CasDigAdmin.hbm.xml"/>
		<mapping resource="mapping/casalini/com/casalini/hibernate/model/CasSapPubl.hbm.xml"/>
		<mapping resource="mapping/casalini/com/casalini/hibernate/model/CasDigFiles.hbm.xml"/>
		<mapping resource="mapping/casalini/com/casalini/hibernate/model/CasEresAdmin.hbm.xml"/>
		<mapping resource="mapping/casalini/com/casalini/hibernate/model/CasFiles.hbm.xml"/>
		<mapping resource="mapping/casalini/com/casalini/hibernate/model/CasPublCdeIsbn.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_STS_CLCTN_TYP.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_CLCTN_TYP.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/CLCTN_MST_CSTMR.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/CAS_CSTMR.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_CLCTN_MST.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_CLCTN_CST.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/CLCTN_MST_ACS_PNT.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/CLCTN_CST_ACS_PNT.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_CLCTN_MST_TYP.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_CLCTN_CST_TYP.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/CLCTN_MST_HRCY.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/PUBL_CDE.hbm.xml"/> 
		<mapping resource="mapping/casalini/librisuite/hibernate/T_REF_THS_TYP.hbm.xml"/> 
		<mapping resource="mapping/casalini/librisuite/hibernate/T_SBJCT_TRM_TYP.hbm.xml"/> 
		<mapping resource="mapping/casalini/librisuite/hibernate/SBJCT_TRM_TYP.hbm.xml"/> 
		<mapping resource="mapping/casalini/librisuite/hibernate/PUBL_TAG.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/THS_HDG.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/THS_REF.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/THS_ATRIB.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/T_THS_ATRIB.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/T_TAG_GRP_SBJCT.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/T_STS_AVBLE.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/T_THS_TYP.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/THS_NTE.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/T_THS_NTE_TYP.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/T_FILES_HRCY.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/OPEN_SUITE_RELEASE.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/T_FORMAT_REC.hbm.xml" />
		<mapping resource="mapping/casalini/librisuite/hibernate/CLCTN_PUBL_ACS_PNT.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_CLCTN_PUBL.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/CLCTN_PUBL_HRCY.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_CLCTN_PUBL_TYP.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_CLCTN_PUBL_LVL_TYP.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_PROGR_TYPE.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/CLCTN_TMP.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_DWY_TYP.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/CLCTN_MST_RULE.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/CLCTN_MST_RULE_REL.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/CLCTN_MST_RULE_RECORD.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/CLCTN_RULE_TMP.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/CLCTN_CST_RULE.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/CLCTN_CST_RULE_RECORD.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_CLCTN_CST_ARCH.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/DB_LIST.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_QLTY_TYP_CDE.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/S_BIB_TAG_MARC_DSPLY.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/S_RDA_TAG_MARC_DSPLY.hbm.xml"/>
		
		<mapping resource="mapping/casalini/librisuite/hibernate/SRL_ORDR.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/SRL_VNDR.hbm.xml"/>
		
		<mapping resource="mapping/casalini/librisuite/hibernate/T_CF_FORM_OF_ITM.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_MSC_TRNSPSN_ARRNGMNT.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_MSC_PRT.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_SRL_PRT_TYP.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_SRL_CURCY_TYP.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/SRL_PRED_PAT_DTL.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/SRL_PRED_PAT.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/SRL_ENUM.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_SRL_CPY_STUS.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_SRL_SUP_MTRL.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_SRL_LCL_STUS.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_DSCRD_TYP.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/DSCRD_CPY.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_FRBR.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_RDA_CONTENT.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_RDA_MEDIA.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/T_RDA_CARRIER.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/S_AUT_TAG_MARC_DSPLY.hbm.xml"/>
		<mapping resource="mapping/casalini/librisuite/hibernate/INVTRY_DSCRD_CPY.hbm.xml"/>
		
	
	</session-factory>
</hibernate-configuration>
