[
  {
    "module" : "MARCCAT",
    "configName" : "datasource",
    "code" : "url",
    "description" : "Target JDBC URL",
    "default" : true,
    "enabled" : true,
    "value" : "jdbc:postgresql://127.0.0.1:5432/folio_marccat"
  }, {
    "module" : "MARCCAT",
    "configName" : "datasource_port",
    "code" : "port",
    "description" : "Database listening port",
    "default" : true,
    "enabled" : true,
    "value" : "5432"
  }, {
    "module" : "MARCCAT",
    "configName" : "datasource",
    "code" : "user",
    "description" : "Database username",
    "default" : true,
    "enabled" : true,
    "value" : "folio_test"
  }, {
    "module" : "MARCCAT",
    "configName" : "datasource",
    "code" : "password",
    "description" : "Database password",
    "default" : true,
    "enabled" : true,
    "value" : "folio"
  }
]
